extends layout.pug

block title
	title Register

block content
	div(class='container verticalCenterContainer')
		h1(class='centerText') Brand  
			i(class='fa fa-bug')
		div(class='centerText form-group') God knows what this site will even turn into
		form(method='post' action='/Register')
			div(class='form-group')
				div(class='row')
						div(class='col-md-6 col-sm-8 centerElement')
							div(class='input-group')
								span(class='input-group-addon')
									i(class='fa fa-envelope')
								input(type='email' class='form-control' id='email' name='email' placeholder='Email')
			div(class='form-group')
				div(class='row')
					div(class='col-md-6 col-sm-8 centerElement')
						div(class='input-group')
							span(class='input-group-addon')
								i(class='fa fa-user')
							input(type='text' class='form-control' id='username' name='username' placeholder='Username')
			div(class='form-group')
				div(class='row')
					div(class='col-md-6 col-sm-8 centerElement')
						div(class='input-group')
							span(class='input-group-addon')
								i(class='fa fa-key')
							input(type='password' class='form-control' id='password' name='password' placeholder='Password')
							div(class='form-group')
			div(class='form-group')
				div(class='row')
					div(class='col-md-6 col-sm-8 centerElement')
						div(class='input-group')
							span(class='input-group-addon')
								i(class='fa fa-key')
							input(type='password' class='form-control' id='confirm-password' name='confirm-password' placeholder='Confirm Password')
			div(class='row')
				div(class='col-md-6 col-sm-8 centerElement')
					button(class='btn btn-default btn-block')
						i(class='fa fa-sign-in')  Register

